.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--scentronix-z-index);
  background-color: var(--scentronix-overlay);
  animation: fadeIn 0.3s ease forwards;
}

.menu-container {
  position: fixed;
  z-index: calc(var(--scentronix-z-index) + 1);
  background-color: transparent;
  animation: fadeInUp 0.3s ease forwards;

  & > * + * {
    margin-top: var(--scentronix-spacing);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
  }
}
